{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}

{% block jquery %}
    tracking_menu_expanded = 'True';
{% endblock %}

{% block content %}
<div id="content-main">

<h1>
    Changes made since last login
</h1>

<div class="module">
{% if action_list %}
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">{% trans 'Screen' %}</th>
            <th scope="col">{% trans 'Page Model Name' %}</th>
            <th scope="col">{% trans 'Date/Time' %}</th>
            <th scope="col">{% trans 'Domain\UserID' %}</th>
            <th scope="col">{% trans 'User Name' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <td scope="row">{{ action.content_type}}</td>
            <td scope="row">{{ action.content_type.model}}</td>
            <td scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</td>
            <td>{{ action.user_to_dispay}}</td>
            <td>{{ action.user_name}}</td>
            <td>{{ action.change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "You haven't made any changes since last login." %}</p>
{% endif %}
</div>
</div>
{% endblock %}
