{% extends "admin/change_form.html" %}

{% block jquery %}{{ block.super }}
	
	tree_selection_id = '{{ adminform.model_admin.Meta.tree_id }}';
	
	// in dbm_common.py
    if (typeof ActivateChangedEvent == 'function') { 
    	ActivateChangedEvent();
   	}
    
    {% if errors %}
		changesMade = true; 
	{% endif %}
	
{% endblock %}

{% block coltype %}{% if not is_popup %}colSM{% endif %}{% endblock %}

{% block content_title %}
	{% if original.page_title %}
		<h1 id="page_header">{{ original.page_title }}</h1>
	{% else %}
		{{ block.super }}
	{% endif %}
{% if original.get_affected_components.strip %}
<h1 id="affected_services">Applies to: {{ original.get_affected_components }}</h1>
{% endif %}
<div style="padding-right: 100px;">{{ original.page_help_text|safe }}</div>
{% endblock %}

