{% extends "admin/change_form_default.html" %}


{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Welcome to the dbMotion Configuration Center</h1>
    <br />
    <br />
 	<br />
    <p>The dbMotion Configuration Center allows you to configure dbMotion with ease! </p> 

    <p>To get started, choose a page to configure from the menu on your left.</p> 


</div>

{% block object-tools-items %}{% endblock %}
{% endblock %}



