<div id="treeview" class="treeview">	
	<ul>
		<li>
			<a href="#">Clinical Viewer</a>
			<ul>
	       		<li>
                    <a href="#">Clinical Domains</a>
                    <ul>
                        <li id='cv_allergies' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainallergies/1/">Allergies</a></li>
						<li id='cv_documents' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomaindocuments/18/">Clinical Documents</a></li>                        <li id='cv_demographics' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomaindemographics/12/">Demographics</a></li>
                        <li id='cv_diagnoses' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomaindiagnoses/3/">Diagnoses</a></li>
                        <li id='cv_encounters' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainencounters/7/">Encounters</a></li>
                        <li id='cv_encounters_details' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainencounterdetails/8/">Encounters Details</a></li>
                        <li id='cv_imaging' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainimaging/17/">Imaging</a></li>
                        <li id='cv_immunizations' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainimmunizations/4/">Immunizations</a></li>
                        <li id='cv_laboratory' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainlaboratory/16/">Labs</a></li>
                        <li id='cv_lab_results' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainlabresults/19/">Lab Results</a></li>
                        <li id='cv_lab_results_history' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainlabresultshistory/15/">Lab Results History</a></li>
                        <li id='cv_medications' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainmedications/6/">Medications</a></li>
                        <li id='cv_pathologies' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainpathologies/5/">Pathology</a></li>
                        <li id='cv_plv' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainplv/9/">PLV</a></li>
                        <li id='cv_problems' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainproblems/2/">Problems</a></li>
						<li id='cv_procedures' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainprocedures/11/">Procedures</a></li>
						<li id='cv_summary' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainsummary/10/">Summary</a></li>
						<li id='cv_vitals' rel="concrete_page" ><a href="/admin/dbmconfigapp/clinicaldomainvitals/13/">Vitals</a></li>
                    </ul>
				</li>
				<li id='clinical_code_display' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/clinicalcodedisplaypage/1/">Clinical Code Display</a>
	       		</li>
				<li id='cv_general' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/clinicalviewergeneralpage/1/">General Definitions</a>
	       		</li>
   				<li id='cv_patient_display' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/cvpatientdisplaypage/1/">Patient Display</a>
	       		</li>
	       		<li id='cv_patient_search' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/cvpatientsearch/14/">Patient Search</a>
	       		</li>
   				<li id='cv_reporting' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/cvreportingpage/1/">Reporting</a>
	       		</li>
   				<li id='cv_ccdadisplay' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/cvccdadisplaypage/1/">CCDA Display and Report</a>
	       		</li>
			</ul>
		</li>
   		<li>
   			<a href="#">Agent Hub</a>
   			<ul>
			   <li id='agenthub_general' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/agenthubgeneralpage/1/">General Definitions</a>
	       		</li>
   				<li id='agent_plus_plus_hosted_aplications' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/agentpphostedapppage/1/">Hosted Applications</a>
	       		</li>
                <li id='ehragent_apps_install_profile' rel="concrete_page" >
	       			<a href="/admin/externalapps/installationprofile/">Installation Profiles</a>
	       		</li>
   				<li>
		   			<a href="#">EHR Integration</a>
		   			<ul>
		   				<li id='ehragent_apps_ehr' rel="export_disabled" >
			       			<a href="/admin/externalapps/ehr/">EHRs</a>
			       		</li>      				
		   				<li id='ehragent_apps_instance' rel="export_disabled" >
			       			<a href="/admin/externalapps/instance/">EHR Instances</a>
			       		</li>      				
		   				<li id='ehragent_apps_instance_properties' rel="export_disabled" >
			       			<a href="/admin/externalapps/instanceproperties/">Properties Packages</a>
			       		</li>
		   			</ul>
		   		</li>
		   		<li id='pv_patient_display' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/pvpatientdisplaypage/1/">Patient Display</a>
	       		</li>
                <li id='pv_search_page' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/pvpatientsearchpage/1/">Patient Search</a>
	       		</li>

   			</ul>
   		</li>
        <li>
            <a href="#">Patient View</a>
            <ul>
                <li id='patient_view_general' rel="concrete_page">
                    <a href="/admin/dbmconfigapp/patientviewpage/1/">General Definitions</a>
               </li>
                <li id='pv_reporting' rel="concrete_page">
                    <a href="/admin/dbmconfigapp/pvreportingpage/1/">Reporting</a>
                </li>
                <li id='pv_clinical_domains_page' rel="concrete_page">
                    <a href="/admin/dbmconfigapp/pvclinicaldomainpage/1/">Clinical Domains</a>
                </li>
                <li id='pv_clinical_code_display' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/pvclinicalcodedisplaypage/1/">Clinical Code Display</a>
	       		</li>
                <li id='pv_measurement' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/pvmeasurementpage/1/">Measurements</a>
				</li>
				<li id='pv_ccdadisplay' rel="concrete_page">
					<a href="/admin/dbmconfigapp/pvccdadisplaypage/1/">CCDA Display and Report</a>
				</li>
				<li id='pv_carequality_integration_settings' rel="concrete_page">
					<a href="/admin/dbmconfigapp/carequalityintegrationsettingspage/1/">Carequality Integration</a>
	       		</li>
            </ul>        
        </li>
	   	<li>
   			<a href="#">Patient List</a>
   			<ul>
   				<li id='pl_patient_display' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/plpatientdisplaypage/1/">Patient Display</a>
	       		</li>
   				<li id='pl_clinical_code_display' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/plclinicalcodedisplaypage/1/">Clinical Code Display</a>
	       		</li>
   				<li id='pl_general_definitions' rel="concrete_page">
	       			<a href="/admin/dbmconfigapp/plgeneralpage/1/">General Definitions</a>
	       		</li>
	          	<li id='pl_reporting' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/plreportingpage/1/">Reporting</a>
	       		</li>
	
   			</ul>
   		</li>
   		<li>
   			<a href="#">Direct Messaging</a>
   			<ul>
				<li id='mu_reporting_endpoint' rel="concrete_page" class="export_hidden">
	       			<a href="/admin/externalapps/directaddressendpointspage/1/">Direct Addresses</a>
	       		</li>
   				<li id='directMessaging_acdm' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/directmessagingacdmpage/1/">ACDM</a>
	       		</li>      				
   			</ul>
   		</li>
   		<li>
   			<a href="#">Data Export</a>
   			<ul>
   				<li id='dataexport_ccdadisplay' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/dataexportccdadisplaypage/1/">CCDA</a>
	       		</li>      				
   			</ul>
   		</li>
   		<li>
   			<a href="#">Operational Manager</a>
   			<ul>
   				<li id='usage_reports' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/operationalmanagerpage/1/">Usage Reports</a>
	       		</li>      				
   				<li id='data_access_auditing' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/dataaccessauditingpage/1/">CDR Instance Data Access Auditing</a>
	       		</li>   
				<li id='cag_data_access_auditing' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/cagdataaccessauditingpage/1/">CAG Instance Data Access Auditing</a>
	       		</li>      				
   			</ul>
   		</li>
   		<li>
   			<a href="#">EMPI</a>
   			<ul>
   				<li id='via_general' rel="concrete_page" >
	       			<a href="/admin/via/viapage/1/">General Definitions</a>
	       		</li>
   				<li id='via_initiate' rel="concrete_page" >
	       			<a href="/admin/via/initiatepage/1/">Initiate</a>
	       		</li>
	       		<li id='via_authoritysystems' rel="concrete_page" >
	       			<a href="/admin/via/authoritysystemspage/1/">Authority Systems</a>
	       		</li>
   				<li id='via_initiatemappings' rel="concrete_page" >
	       			<a href="/admin/via/initiatemappingspage/1/">Initiate Mappings</a>
	       		</li>
				<li id='via_ppolgeneral' rel="concrete_page" >
					<a href="/admin/via/empippolgeneralpage/1/">Provider Registry</a>
				</li>
   			</ul>
   		</li>
   		<li>
   			<a href="#">Security</a>
   			<ul>
   				<li id='security_general' rel="concrete_page" >
	       			<a href="/admin/security/securitygeneralpage/1/">General Definitions</a>
	       		</li>
   				<li id='security_managedusers' rel="concrete_page" >
	       			<a href="/admin/security/adproviders/">Managed Users</a>
	       		</li>
		       		<li>
		       		<a href="#">Unmanaged Users</a>
		       		<ul>
		   				<li id='security_rolemapping' rel="export_disabled" >
			       			<a href="/admin/security/applications/">Role Mapping</a>
			       		</li>
		   				<li id='security_unmanagedusers' rel="export_disabled" >
			       			<a href="/admin/security/applicationdomains/">Domain Qualifiers</a>
			       		</li>
		       		</ul>
	       		</li>
   			</ul>
   		</li>
   		<li class="export_hidden">
   			<a href="#">Federation</a>
   			<ul>
   				<li id='federation_app_node' rel="concrete_page" >
	       			<a href="/admin/federation/node/">Nodes</a>
	       		</li>
   			</ul>
   		</li>
   		
   		<li>
		   	<a href="#">Data Loading</a>
   			<ul>
   				<li id='data_loading_app' rel="concrete_page" >
	       			<a href="/admin/dataloading/partitioningpage/1/">Partitioning</a>
	       		</li>
	       		<li id='data_loading_batch' rel="concrete_page" >
	       			<a href="/admin/dataloading/batchloadingpage/1/">Batch Loading</a>
	       		</li>
   			</ul>
   		</li>
   		<li>
		   	<a href="#">Capsule</a>
   			<ul>
   				<li id='capsule' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/capsulepage/1/">Capsule</a>
	       		</li>
   			</ul>
   		</li>
		 <li>
		   	<a href="#">External Documents</a>
   			<ul>
   				<li id='external_documents_my_hr' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/myhrconnectivitypage/1/">MyHR Connectivity</a>
	       		</li>
   			</ul>
		   </li>
		   <li>
			<a href="#">Documents Search</a>
			<ul>
				<li id='document_search_general' rel="concrete_page" >
					<a href="/admin/dbmconfigapp/documentsearchgeneral/1/">General Definitions</a>
				</li>
				<li id='document_search_live_feeds' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/documentsearchlivefeeds/1/">Live-Feed Indexing</a>
	       		</li>
				<li id='document_search_bootstrap' rel="concrete_page" >
	       			<a href="/admin/dbmconfigapp/documentsearchbootstrap/1/">Bootstrap Indexing</a>
	       		</li>
			</ul>
		</li>
	</ul>

</div>
